.commentLabel {
    -fx-font-size: 14px ;
}

.comment-textArea {
    -fx-font-size: 12px;
}

.btn-add {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: #0077b6;
    -fx-border-radius: 4px;
}

.btn-add:hover {
    -fx-background-color: #023e8a;
}

.btn-close {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: #f94449;
    -fx-border-radius: 4px;
}

.btn-close:hover {
    -fx-background-color: #ff2c2c;
}