.content-anchorPane {

}

.card-pane {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.card-pane:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
}

.card-grey {
    -fx-background-color: grey;
}

.card-blue {
    -fx-background-color: #0077b6;
}

.card-purple {
    -fx-background-color: purple;
}

.card-dark {
    -fx-background-color: grey;
}

.card-label {
    -fx-padding: 0 0 0 15   ;
    -fx-content-display: center;
    -fx-text-fill: white;
}